.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;

}

.auth h1 {
    font-size: 45px;
    font-family: monBlack;
    margin-top: 50px;
}

.auth h1 span {
    font-family: monReg;

}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 75vh;
}


.auth-form input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(215, 215, 215, 0.876);
    width: fit-content;
    padding: 15px;
    font-size: 1rem;
    font-family: monReg;
    border-radius: 10px;


}

.auth-form_submit-btn {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    border: 2px solid white;
    background-color: #F9800D;
    color: white;
    font-weight: bold;
    font-family: monReg;
    border-radius: 10px;



}

.auth_link {
    color: rgb(101, 101, 101);
    font-size: 16px;
    font-family: monReg;
    position: relative;
    bottom: -25px;
}

.auth-error {
    background-color: #F9800D;
    padding: 5px;
    font-family: monReg;
    position: absolute;
    top: 23%;
    color: white;
}

.auth-error__singup {
    background-color: #F9800D;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: -20px;
    font-family: monReg;
    color: white;

}

@media (width > 764px) {
    .auth-form_submit-btn:hover {
        background-color: #ffffff;
        color: #F9800D;
        cursor: pointer;
        transition: ease-in .2s;

    }

    .auth-form input:hover {
        border: 1px solid rgb(168, 168, 168);
    }

    .auth-cover {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 60%;
        z-index: -1;

    }

}

@media (width <=764px) {
    .auth-form_submit-btn:active {
        background-color: #ffffff;
        color: #F9800D;

    }

    .auth-cover {
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: fixed;
        opacity: .84;
        margin-right: 5px;
    }
}